parameters:
  level: 9
  paths:
    - php
    - utils
  scanDirectories:
  	- vendor/fp-cli/fp-cli
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
    - php/boot-phar.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
  	- FP_DEBUG
  	- FP_DEBUG_LOG
  	- FP_DEBUG_DISPLAY
  ignoreErrors:
    - identifier: missingType.parameter
    - identifier: missingType.return
